
header, #login-heading, #register-heading, #user-heading{
    margin-top: 100px;
}
.p-2 {
    background-color: #00bcd4!important;
    border: 1px solid #00a5bb!important;
    color: #fff!important;
    border-radius: 500px;
}
.user-card {
    background-clip: border-box;
    border: 1px solid #d2d2dc;
}
.tag-button {
    margin-bottom: 100px!important;
}


/*    Styling for the buttons -- created from https://www.bestcssbuttongenerator.com/    */
.myButton {
    box-shadow:inset 0px 1px 0px -2px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:4px 20px;
    text-decoration:none;
    text-shadow:0px -1px 0px #ffffff;
}
.myButton:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
}
.myButton:active {
    position:relative;
    top:1px;
}
/*----------------------------------------------------*/